
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="inner_wrapper about-us aboutUs-container fadeInLeft animated wow">
    <div class="container">
        <h2>About Us</h2>
        <h6>A persone who loves Nature and It's creations</h6>
        <div class="inner_section">
            <div class="row">
                <div class="col-md-6"> <img class="img-responsive" src="~/Content/img/about1.png" align=""> </div>
                <div class="col-md-6">
                    <h3>Trending Styles</h3>
                    <p>Lorem ipsum dolor sit amet, quo meis voluptaria, erant bonorum albucius et per, ei placerat eu, te eos porro veniam. An everti maiorum detracto mea. Eu eos dicam voluptaria, erant bonorum albucius et per, ei sapientem accommodare est. Saepe dolorum constituam ei vel. Te sit malorum ceteros repudiandae, ne tritani adipisci vis.</p>

                    <p>
                        Lorem ipsum dolor sit amet, voluptaria, erant bonorum albucius et per, ei meis audire placerat eu, te eos porro veniam. An everti maiorum detracto mea. Lorem ipsum dolor sit amet, consectetur Morbi sagittis, sem quisci ipsum gravida tortor orci ipsum gravida tortor.
                    </p>

                    <ul class="about-us-list">
                        <li class="points">Consectetur Morbi sagittis, sem quisci ipsum gravida tortor</li>
                        <li class="points">Sagittis, sem quis lacinia faucibus, orci ipsum gravida </li>
                        <li class="points">Ipsum dolor sit amet, consectetur Morbi sagittis, sem quisci</li>
                    </ul><!-- /.about-us-list -->

                </div>
            </div>
        </div>
    </div>
</div>

