
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 style="color:cornflowerblue">TRANG QUẢN LÝ SPA</h1>
    <p class="lead">Muốn tra cứu hãy nhấn vào các mục bên thanh menu !!</p>
</div>

<div class="row">

</div>

